DB_PASSWORD=<missing>
DB_USERNAME=<missing>
TEMPORAL_ADDRESS=<missing>
AUTH_MICROSOFT_ENTRA_ID_ID=<missing>
AUTH_MICROSOFT_ENTRA_ID_SECRET=<missing>
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=<missing>
AUTH_MICROSOFT_ENTRA_ID_ISSUER=<missing>
AUTH_MICROSOFT_ENTRA_ID_API_SCOPE=<missing>
AUTH_URL=<missing>
AUTH_SECRET=<missing>